@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Urbanist:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Urbanist:wght@300&family=Varela+Round&display=swap');
* {
font-size: 18px;
box-sizing: border-box;

}

body {
    font-family:'Varela Round', sans-serif;
}

#scroll_to_top {
    position: fixed;
    width: 10px;
    height: 10px;
    bottom: 50px;
    right: 30px;
  }
  #scroll_to_top img {
    width: 25px;
  }

/*Bandeau version mobile*/
.bandeau-mobile {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .bandeau-mobile img {vertical-align: middle;}
  
  .bandeau-mobile .content-title {
    position: absolute;
    text-align: center;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }
/*Bandeau version pc*/
  .bandeau-pc {
    position: relative;
   
    margin: 0 auto;
  }
  
  .bandeau-pc img {vertical-align: middle;}
  
  .bandeau-pc .content-title {
    position: absolute;
    text-align: center;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }
/*Navbar et footer*/

.navbar
{
background-color: black;
height: auto;
width: 100%;
font-family: 'Kaushan Script', cursive;
}
footer {
    background-color: black;  
}
.nav-link,
.link-info,
.contact-link,
.article-link,
.foot-link {
text-decoration: none;
}
.imagepart {
    width: 16vh;
}
.nav-link:hover,
.link-info:hover,
.contact-link:hover,
.article-link:hover,
.foot-link:hover {
color: white;
font-weight: 700;
}

.h5 {
color: white;
}
.info {
    margin-top: 0px;
    margin-bottom: 1rem;
    text-align: center;
    }
.titre-noel{
margin: 30px 0px;
line-height: 1.2;
font-size: 1.8em;
text-transform: uppercase;
text-align: center;
color: #ff0000;
}

.chapeau {
margin: 20px 0px;
text-align: justify;
font-size: 1.2em;
font-weight: bold;
clear: both;
}
.image-thumbail {
box-sizing: border-box;
padding: 0.25rem;
border-radius: 0.25rem;
max-width: 100%
}
.description {
box-sizing: border-box;
clear: both;
margin-top: 25px;
padding-bottom: 40px;
color: #ff0000;
line-height: 1.4em;
}
.container-frame {
position: relative;
width: 100%;
overflow: hidden;
padding-top: 100%;
border: 1px solid black;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}
.billeterie {
border-radius: 10px;
}


/*Association.html*/


h1,
h2 {
    font-size: 1.5rem;
    text-align: center;
}

.imgassociation {
    border-radius: 50%;
}
.flip-box {
    background-color: transparent;
    width: 400px;
    height: 800px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
  }
  
   .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
    .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
    .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    /* affichage pour navigateur Safari */
    backface-visibility: hidden;
  }
  
   .flip-box-front {
    background-color: #1b2234;
    color: black;
  }
  
  
  .flip-box-back {
    background-color: #1a2132;
    color: white;
    transform: rotateY(180deg);
  }

  
.comparatif{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  

  th, td {
    text-align: center;
    padding: 16px;
  }
  
  th:first-child, td:first-child {
    text-align: left;
  }
  
 
  tr:nth-child(even) {
    background-color: #f2f2f2
  }
  
 
  input[type=text], select {
    width:100%;
    padding: 10px 10px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=email], select {
    width: 100%;
    padding: 10px 10px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container-modal2 {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }  

  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  
  .container {
    padding: 0 16px;
}


.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}
  
.title {
    color: grey;
}
.titleassoc
{
    border-bottom: 2px solid #dc3545;
}


.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #dc3545;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: #555;
  }

/*Evenement.html*/
.event {
    background: #fff;
    padding: 10px 0;
  }
  .event .event-precis {
    text-align: bottom;
    margin-bottom: 10px;
    background: white;
    position: relative;
  }
  .event .event-precis .event-info {
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    transition: 0.2s;
  }
  .event .event-precis .event-info-content {
    margin-top: 50px;
    transition: margin 0.2s;
  }
  .event .event-precis:hover .event-info {
    background: rgba(255, 255, 255, 0.7);
    opacity: 1;
    transition: 0.4s;
  }
  .event .event-precis:hover .event-info-content {
    margin-top: 0;
    transition: margin 0.4s;
  }
  .event .event-precis h4 {
    font-weight: 700;
    margin-bottom: 2px;
    font-size: 18px;
    color: black;
  }
  .event .event-precis span {
    font-style: italic;
    display: block;
    font-size: 13px;
    color: black;
  }
 
  .gdnoel {
    border-bottom: 1px solid #dc3545;
  }

.txtgalerie {
    border-top: 1px solid #dc3545;
}

  /*Media Queries*/

    @media screen and (max-width: 991px) {
      .flipboxpc {
        display: none;
    }
      }
      @media screen and (min-width: 992px) {
     .flipboxteltablette {
      display: none;
      
    }
        }
     
    @media screen and (max-width: 650px) {
      .column {
        width: 100%;
        display: block;
      }
    }
    @media screen and (max-width: 991px) {
    .adherer {
      border-bottom: 1px solid #dc3545;
    }
    }
    
    @media screen and (min-width: 992px) {
      .adherer {
        border-right: 1px solid #dc3545;
      }
      }

      @media screen and (max-width: 769px) {
        .carousel1{
          display: none;
      }
        }
    @media screen and (min-width: 768px) {
    .carousel2 {
    display: none;
    
    }
        }
    @media screen and (min-width: 768px) {
    .textinfomobile {
        display: none;
        
    }
        }
    @media screen and (max-width: 769px) {
        .textinfopc {
            display: none;
            
        }
            }

    @media screen and (max-width: 768px) {
        .bandeau-pc {
            display: none;
            
        }
            }
    @media screen and (min-width: 769px) {
        .bandeau-mobile {
            display: none;
            
        }
            }
        

            
    