@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Urbanist:wght@300&display=swap');
* {
font-size: 18px;
box-sizing: border-box;
}

/*Navbar et footer*/

.navbar
{
background-color: black;
height: auto;
width: 100%;
font-family: 'Kaushan Script', cursive;
}
.footer {
    background-color: black;  
}
.nav-link,
.link-info,
.contact-link,
.article-link,
.foot-link {
text-decoration: none;
}

.nav-link:hover,
.link-info:hover,
.contact-link:hover,
.article-link:hover,
.foot-link:hover {
color: white;
font-weight: 700;
}

.h5 {
color: white;
}
.info {
    margin-top: 0px;
    margin-bottom: 1rem;
    text-align: center;
    }
.titre-noel{
margin: 30px 0px;
line-height: 1.2;
font-size: 1.8em;
text-transform: uppercase;
text-align: center;
color: #ff0000;
}

.chapeau {
margin: 20px 0px;
text-align: justify;
font-size: 1.2em;
font-weight: bold;
clear: both;
}
.image-thumbail {
box-sizing: border-box;
padding: 0.25rem;
border-radius: 0.25rem;
max-width: 100%
}
.description {
box-sizing: border-box;
clear: both;
margin-top: 25px;
padding-bottom: 40px;
color: #ff0000;
line-height: 1.4em;
}
.container-frame {
position: relative;
width: 100%;
overflow: hidden;
padding-top: 100%;
border: 1px solid black;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}
.billeterie {
border-radius: 10px;
}
.form {
border: 1px solid #000000;
border-radius: 10px;
}
.container-newsletter {
padding: 20px;
}
.container-newsletter-title {
padding: 20px;
text-align: center;
}
input[type=text],
input[type=submit] {
width: 100%;
padding: 12px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
box-sizing: border-box;
}
input[type=checkbox] {
margin-top: 16px;
}
input[type=submit] {
background-color: #c90000;
color: white;
border: none;
}
input[type=submit]:hover {
opacity: 0.8;
}
/*Association.html*/
.flip-box {
background-color: transparent;
width: 400px;
height: 500px;
border: 1px solid #f1f1f1;
perspective: 1000px;
}
.flip-box-inner {
position: relative;
width: 400px;
height: 500px;
text-align: center;
transition: transform 0.8s;
transform-style: preserve-3d;
}
.flip-box:hover .flip-box-inner {
transform: rotateY(180deg);
}
.flip-box-front,
.flip-box-back {
position: absolute;
width: 400px;
height: 500px;
-webkit-backface-visibility: hidden;
/* Safari */
backface-visibility: hidden;
}
.flip-box-front {
background-color: rgb(255, 255, 255);
color: black;
}
.flip-box-back {
background-color: rgb(255, 255, 255);
color: white;
transform: rotateY(180deg);
border: black 1px
}